<h3>About Us</h3>
<p>Sarahah helps you in discovering your strengths and areas for improvement by receiving honest constructive feedback from your employees and your friends</p>
<hr>  
<h4>FAQ</h4>
<dl>
  <dt>Will Sarahah show the identity of senders?</dt>
  <dd>Sarahah won't disclose the identity of the logged-in senders to users except with their consent.</dd>
  <dt>Is Sarahah a hacker?!</dt>
  <dd>Sarahah doesn't steal data but websites and apps impersonating Sarahah could do that</dd>
  <dt>Can Sarahah visitors view my messages?</dt>
  <dd>They can't as long as you don't share your messages</dd>
  <dt>Is there a Sarahah mobile app?</dt>
  <dd>Yes, the official Sarahah app is on Google Play and App Store</dd>
  <dt>Can I respond to messages?</dt>
  <dd>You can't respond to messages now. We are studying this option</dd>
</dl>

    