     
  <h2>Terms and Conditions</h2>
  <br>
  <div>
      <p>
          These terms and conditions govern the access to and the use of Sarahah's services and platforms, through the website or through the mobile apps.<br>
          All users must comply with the terms and conditions on this page to be able to use Sarahah and its services and platforms.
      </p>
  
      <h4>Public Use</h4>
      <p>
          All users should commit to ethics and values and should refrain from insult and abuse of the site.
      </p>
  
      <h4>Privacy Policy</h4>
      <p>
          You understand that through your use of the Services, you consent to the collection and use of your data and information, as set forth in the Privacy Policy. You need to read it before you use or access the Services.
      </p>
  
      <h4>Non-Registered Users</h4>
      <p>Non-registered users are able to access only the parts of the Services that are publicly available and do not enjoy all of the privileges of being a registered member. Non-registered users are, however, still subject to the TC and Privacy Policy.</p>
  
      <h4>Denial of Access</h4>
      <p>
          Sarahah has the right to block any user from accessing the website or using it's services in general.
      </p>
  
      <h4>Impersonation</h4>
      <p>
          Impersonation by name or subdomain is not allowed and Sarahah has the right to take adequate actions.
      </p>
  
      <h4>Inactive Accounts</h4>
      <p>
          Sarahah has the right to remove inactive accounts under the duration that Sarahah sees adequate.
      </p>
  
      <h4>Removal and Blocking of Content and Accounts</h4>
      <p>
          Sarahah has thr right to block or remove content and accounts for any reason it sees adequate. In addition, you acknowledge that we have your consent to monitor and block content that we consider to be harassing or bullying.    </p>
      
      <h4>Age</h4>
      <p>We require our users to be at least 17 years old to access or use any of our platform and services.</p>
  
      <h4>Information</h4>
      <p>
          Sarahah has the right to use the information input by users with agreement to the privacy policy
      </p>
  
      <h4>E-mail</h4>
      <p>
          Sarahah has the right to e-mail users with what Sarahah sees adequate with the option to unsubscribe from notification e-mails
      </p>
  
      <h4>Modifications of Terms and Conditions</h4>
      <p>
          We have the right to modify terms and conditions if needed and whenever adequate
      </p>
  
      <h4>Limits of Responsibility</h4>
      <p>
          All communicated content on the website is the responsibility of their owners and Sarahah is not responsible for its content or any damage that could result from this content or the use of any of the site's services.
      </p>
      <h4>Governing Law</h4>
      <p>You agree that the Services provided by Sarahah shall be subject to all the applicable regulations in the Kingdom of Saudi Arabia. Any dispute shall be before the courts of Saudi Arabia.</p>
  
      <h4>Contact Us</h4>
      <p>
          You can contact us using the "Contact Us" page.
      </p>
  </div>
  <br>