<div class="profile-info text-center">
  <img src="http://www.gravatar.com/avatar/5d86ea3400ae2a715be36ba9bf955f3ffs=150" alt="Profile Image">
  <h2>Essam Ayari</h2>
  <a href="#">saraha.com/profile/essamay</a>
</div>
<ul class="list-group">
  <li class="list-group-item">
    <div class="date">a year ago</div>
    <div class="message">
      Just a test message
    </div>
    <div class="actions">
      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
    </div>
  </li>
  <li class="list-group-item">
    <div class="date">a year ago</div>
    <div class="message">
      Just a test message
    </div>
    <div class="actions">
      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
    </div>
  </li>
</ul>